@mixin mobile-sm {
  @media (min-width: 375px) {
    @content;
  }
}
@mixin mobile-md {
  @media (min-width: 411px) {
    @content;
  }
}
@mixin tablet-sm {
  @media (min-width: 768px) {
    @content;
  }
}
@mixin tablet-md {
  @media (min-width: 910px) {
    @content;
  }
}
@mixin laptop {
  @media (min-width: 1366px) {
    @content;
  }
}
@mixin desktop {
  @media (min-width: 1600px) {
    @content;
  }
}

@mixin input-box {
  width: 100%;
  position: relative;
  padding-bottom: 1.25rem;
}

@mixin input-label {
  position: absolute;
  color: var(--text-primary-2);
  font-size: $text-sm;
  font-weight: 500;
  padding: 0.13rem 0.38rem;
  background-color: var(--text-secondary-1);
  left: 0.5rem;
  top: -0.7rem;
}

@mixin input-text {
  width: 100%;
  padding: 0.63rem;
  border-radius: 0.25rem;
  outline: none;
  border: 0.07rem solid var(--border-color-1);
  color: var(--text-primary-1);
  font-size: $text-sm;
  background-color: var(--text-secondary-1);

  @include tablet-sm {
    padding: 0.63rem 1.25rem;
    font-size: $text-md;
  }
}

@mixin input-checkbox {
  display: flex;
  align-items: center;
  margin-bottom: 6px;

  > label {
    margin-left: 0.38rem;
    font-size: $text-sm;
    font-weight: 400;
    color: var(--text-primary-2);
  }
}
