body {
  background-color: var(--background-base);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

button {
  background-color: transparent;
  border: 0;
  color: var(--text-primary-1);
  cursor: pointer;
}
