body {
  background-color: var(--background-base);
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
  color: var(--text-primary-1);
}

button {
  background-color: transparent;
  border: 0;
  color: var(--text-secondary-1);
  cursor: pointer;
}

.error-label {
  color: #d9534f !important;
}
.error-message {
  font-size: $text-md;
  color: #d9534f !important;
}
.error-input {
  border: 1px solid #d9534f !important;
  color: #d9534f !important;
}
